 body{background-color: cyan;}
h1:hover{color: darkorange;}

.caja{display:grid;
      grid-template: 80%;
      background-color:rgb(155, 197, 144) ;

grid-template-areas:
     "header" 
     "nav"  
     "section"
     "aside"  
     "footer";
 grid-gap: 10px;
}
.header{grid-area:header;}
.nav{grid-area:nav;}
.aside{grid-area:aside;}
.section{grid-area:section;}

@media only screen and (min-width:				600px){
.caja{display:grid;
      grid-template: 80%;
      

grid-template-areas:
     "header  nav"      
     "section"
     "aside"  
     "footer";
 grid-gap: 10px;
}
}

.header{grid-area:header;}
.nav{grid-area:nav;}
.aside{grid-area:aside;}
.section{grid-area:section;}




    
      


@media  screen and (max-width:1200px){body 
    {background-color:rgb(155, 197, 144) ;
    }    
}
img {border-radius:18px}
img.center{
display:block;
margin-left: auto;
max-width: 50%;
}
.centrado{ magin:10px auto;
display:block;max-width: 70%;
}
.fondo{font-size: 90%; background-color: lightblue;}

#cabecera{ background-color:#2ac2ff ;
text-align:center;
color:#eaffbf;

}
h2{text-align:center;}
p[name=parrafo]{color: #ba645c;
 
    margin-left: 0px;
    overflow:auto;
    display:block
}
  /*  #barranavegacion{
    background-color:#3c49f0 ;

}*/

a{ background-color:#00ff00;
    style-decorated:none;
}			
li{	 style-decorated:none;}			
		
#barralateral{background-color:#60f050;

margin-bottom: 95%;
}		
/*#barranavegacion{background-color: burlywood;}*/
#sectorprincipal{background-color:#f0a826;
margin-left: 10px;}
#foto{max-width:60%}
#foto1{max-width: 130px;}

#pieprincipal{background-color:#eaf000;
text-align:center;

}
	
li{background-color:yellow;
display:inline;
text-align:center;
border-radius:12px;

}			
.text{background-color:#f0a826;
    
}

.footer {
    background-color: rgb(58, 193, 235);
    font-size: 29px;font-family: "Times New Roman", Times, serif;
    text-align:center;}
    footer:hover{color:rgb(194, 128, 119);}



.formulario{background-color:rgb(0, 255, 213);
  }		
		
button{background-color: rgb(194, 84, 130);}
#cajita { width: 60%; float:right; border: 1px solid black; }